
// @use '@angular/material' as mat;

// @include mat.core();

// $light-theme: mat.define-light-theme((
//   color: (
//     primary: mat.define-palette(mat.$indigo-palette),
//     accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
//   )
// ));

// $dark-theme: mat.define-dark-theme((
//   color: (
//     primary: mat.define-palette(mat.$indigo-palette),
//     accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
//   )
// ));

// @include mat.all-component-themes($light-theme);

// .dark-mode {
//   @include mat.all-component-colors($dark-theme);
//   background-color: #020202;
//   color: #ddd;
// }


.force-text-white {
  color: white !important;
}
.mat-form-field-label {
  color: white !important;
}


::ng-deep .dark-mode .mat-select-value {
  color: white;
}

::ng-deep .dark-mode .mat-form-field-label {
  color: white;
}

.dark-mode a {
  color: rgb(169, 254, 240) ; /* or any color you want */
}
.dark-mode a:active {
  color: rgb(123, 209, 194) ; /* or any color you want */
}
.dark-mode a:visited {
  color: rgb(169, 230, 254) !important; /* or any color you want */
}



.chRegion {
  padding-left: 0.25em;
  padding-right: 0.25em;

  @media (min-width: 600px) {
    padding-left: calc((100vw - 600px) * 0.2);
    padding-right: calc((100vw - 600px) * 0.2);
  }

  max-width: 1200px;
  padding-bottom: 100px;
  margin: auto;
}

.crstitle {
  text-align: center;
  padding-bottom: 5px;
}


.thick-row {
  padding-right: 5px;
}


.center {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.slight-pad {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.slight-more-pad {
  padding-left: 1.0em;
  padding-right: 1.0em;
}

.canvas-holder {
  // width: 100vw;
  height: max(300px, calc(100vw * 0.75));
  max-width: 1200px;
  max-height: max(400px, min(60vh, calc(1200px * 0.75)));
  // width: 120vh;
  // width: min(120vh, 100%);
}


.center-me {
  margin: auto;
}

.flexit01 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: space-between;
  align-items: center;

  justify-content: center;
}


.red {
  text-align: center;
  background-color: #f58e84;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  background-position: center;
  background-size: 100% 100%;
}



.flexit02 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

td {
  text-align: left;
  width: 50px;
  white-space: nowrap;
}


.center4 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


.flexit03 {
  padding: 0px min(20px, 20%);
  display: flex;
  flex-wrap: wrap;
  gap: 6px 15px;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}
