<!-- create a head for this where the title is the same as what appears in h1-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UofT Timetable Tracker</title>
</head  >



<div class="center" style="padding-top: 30px">

<h1 style="font-size: 35px">
  <strong>
  UofT Timetable Tracker </strong>
 </h1>

<p> Track the enrollment for any course
  offered in the Fall-Winter 2022-2023 term.
<br> Only St. George ArtSci courses are accepted.
<br>
Click on a legend component to hide it.
</p>
</div>
<div class="center">

  <div class="flexit01">

    <mat-form-field class="example-form-field" appearance="fill" (keydown)="keyDownFunction($event)">
      <mat-label>Course code (e.g. MAT137Y1-Y)</mat-label>

      <input matInput type="text" [(ngModel)]="inputCourse">
    </mat-form-field>


    <button id="reloadit" type="button" mat-stroked-button (click)="
loadCourseData(inputCourse)
">RELOAD IT</button>

  </div>

<div style="padding-bottom: 5px">
  <mat-checkbox [(ngModel)]="showMaxEnrollment"
  color="primary"
  >
      Show maximum enrollments
  </mat-checkbox>


</div>

<div *ngIf="curErrorMessage !== ''" style="padding-bottom: 10px" class="center">
  <div  class="red" > {{curErrorMessage}} </div>
</div>
</div>

<div *ngIf="searched" class="chRegion" style="display: block;">
  <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions" [type]="scatterChartType"
    [plugins]="chartPlugins">
  </canvas>
  
  <div *ngIf="false">
    <!-- <p class="center4">
      Enrollment: {{currentEnrollment}}/{{cap}}
      <br>
      Final enrollment: {{finalEnrollment}}
      <br>
      Drops: {{drops}}
      <br>
      LWDs: {{lwds}}

    </p> -->

   <table style="
    margin-left: auto;
    margin-right: auto;
    ">
      <tr>
        <td>
          Enrolls
        </td>
        <td>
          {{ currentEnrollment }}/{{cap}}
        </td>
      </tr>
      <tr>
        <td> F. Enrolls </td>
        <td> {{finalEnrollment}} </td>
      </tr>
      <tr>
        <td> Drops  </td>
        <td> {{drops}} </td>
      </tr>
      <tr>
        <td> LWDs </td>
        <td> {{lwds}} </td>
      </tr>
    </table>
  </div>


</div>


</html>