<!-- create a head for this where the title is the same as what appears in h1-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UofT Timetable Tracker</title>
</head>



<div class="center" style="padding-top: 30px">

  <h1 style="font-size: 35px">
    <strong>
      UofT Timetable Tracker </strong>
  </h1>

  <p> Track the enrollment for any course
    offered in the Fall-Winter 2022-2023 term.
    <br>
    Click on a legend component to hide it.
    <br>
    Last updated: {{ lastUpdateString }}
  </p>

</div>
<div class="center">

  <div class="flexit01">
    <div class="shakeable">
      <mat-form-field class="example-form-field" appearance="fill" (keydown)="keyDownFunction($event)">
        <mat-label>Course code</mat-label>

        <input matInput type="text" [(ngModel)]="inputCourse">
      </mat-form-field>
    </div>

    <button id="reloadit" type="button" mat-stroked-button (click)="
loadCourseData(inputCourse)
">RELOAD IT</button>

  </div>


<!--  showRemaining -->

  <div class="flexit03" style="padding-bottom: 5px">
    <mat-checkbox [(ngModel)]="showMaxEnrollment" color="primary"
      matTooltip="Determines whether maximum enrollment lines should be visible" [matTooltipPosition]="'below'"
      matTooltipShowDelay="700">
      Show maximum enrollments
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="autoFormat" color="primary"
      matTooltip="Input course codes will be formatted when a search is done. Use this for screenshots."
      [matTooltipPosition]="'below'" matTooltipShowDelay="700">
      Autoformat course codes
    </mat-checkbox>
    
    <mat-checkbox [(ngModel)]="hideSpecial" color="primary" matTooltip="Prevents LEC2000-LEC2999 sections from showing"
      [matTooltipPosition]="'below'" matTooltipShowDelay="700">
      Hide special sections
    </mat-checkbox>
    
<!-- showLargePoints -->

    <mat-checkbox [(ngModel)]="combineAll" color="primary"
      matTooltip="Combine all lecture sections normally visible on the graph into one" [matTooltipPosition]="'below'"
      matTooltipShowDelay="700">
      Combine all sections
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="showRemaining" color="primary"
                  matTooltip="Displays the remaining space for this course, or the size of the smallest waiting list of this course as a negative value if no space is left"
                  [matTooltipPosition]="'below'" matTooltipShowDelay="700">
      Show leftover space
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="showLargePoints" color="primary" matTooltip="Make points more visible on the chart so you can hover over them"
    [matTooltipPosition]="'below'" matTooltipShowDelay="700">
    Show large points
  </mat-checkbox>

  </div>


  <!-- combineAll -->

  <div *ngIf="curErrorMessage !== ''" style="padding-bottom: 10px" class="center">
    <div class="red"> {{curErrorMessage}} </div>
  </div>
</div>

<div *ngIf="searched" class="chRegion" style="display: block;">

  <div class="crstitle" style="font-size: 18px;
  ">

    <div style="padding-bottom: 5px;">Enrollment over time for </div>
    <!-- {{previousFullCourseCode}} -->
    <div style="font-size: 22px; font-weight: bold;
    padding-bottom: 5px;
    line-height: 1.2;">
      {{courseTitle}} ({{previousFullCourseCode.replace("-", "")}})</div>
  </div>

  <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions" [type]="scatterChartType"
    [plugins]="chartPlugins">
  </canvas>

  <div style="padding-top: 25px;" *ngIf="true">
    <!-- <p class="center4">
      Enrollment: {{currentEnrollment}}/{{cap}}
      <br>
      Final enrollment: {{finalEnrollment}}
      <br>
      Drops: {{drops}}
      <br>
      LWDs: {{lwds}}

    </p> -->

    <table style="
    margin-left: auto;
    margin-right: auto;
    ">
      <tr>
        <td
          matTooltip="Students who are enrolled and waitlisted in this course. Note: Students can waitlist multiple lecture sections at once."
          [matTooltipPosition]="'left'">
          Enrolled
        </td>
        <td>
          {{ currentEnrollment }}/{{cap}}
        </td>
      </tr>
      <tr>
        <td style="width: 75px;" matTooltip="Enrollment the day after the last day to enroll in this course."
          [matTooltipPosition]="'left'"> F. Enrolled </td>
        <td> {{finalEnrollment}} </td>
      </tr>
      <tr>
        <td matTooltip="Drops the day after the last day to enroll in this course" [matTooltipPosition]="'left'"> Drops
        </td>
        <td> {{drops}} ({{ fmtNumAsPercent(drops / finalEnrollment) }})
        </td>
      </tr>
      <tr>
        <td matTooltip="Drops the day after the last day to drop this course" [matTooltipPosition]="'left'"> LWDs </td>
        <td> {{lwds}} ({{ fmtNumAsPercent(lwds / finalEnrollment) }}) </td>
      </tr>
    </table>
  </div>

  <p style="padding-top: 10px; max-width: 500px; margin: auto;">
    Most undergraduate courses are supported. All dates and
    deadlines are based of the dates specified in the Faculty
    of Arts and Science, even if the course isn't offered by FAS.
    If a course isn't offered by the Faculty of Arts and Science,
    you must type the entire code. For FAS courses, you can type
    part of the course code and this site will attempt to
    autocomplete it for you.
  </p>



</div>


</html>
